<button type="button" disabled={{itsEmpty}} class='btn btn-success btn-xs' {{action "clean"}}>{{fa-icon "eraser"}} Limpiar</button>
<!-- <button type="button" class='btn btn-success btn-xs' {{action "pintar"}}>{{fa-icon "paint-brush"}} Pintar</button> -->
