<button type="button" disabled={{itsEmpty}} class='uk-button' {{action "clean"}}>{{fa-icon icon="eraser"}} Limpiar</button>
<button type="button" class='uk-button'
  {{action (showModal "modals/huayra-srsly"
    ok=(action "remove")
    accion="borrar la pista"
  )}}>
  {{fa-icon icon="trash"}} Borrar pista
</button>
