<h1 data-test="modal-title" class="huayra-modal-title">Propiedades de la pista: {{title}}</h1>

<div class="row">

</div>

<div class="ui grid">
  <div class="four wide column">
    <div class="slider">
      Volumen global: {{x-slider min=0 max=1 step=0.05 value=volume}}
    </div>
  </div>
  <div class="four wide column">
    {{huayra-color-picker color=color onColorSelected="setColor"}}
  </div>
  <div class="four wide column"></div>
  <div class="four wide column"></div>
</div>





{{huayra-sound-selector sound=sound onSelect="setSound"}}

<div class="bottom-bar">
    <button class="ui button" {{action "saveTrack"}}>Aceptar</button>
    <button class="ui button" {{action "removeTrack"}}>Eliminar pista</button>
</div>
