<div class="huayra-track-id">
  {{huayra-sound-switch value=track.enabled}}

  <p>{{indexNumber}}</p>

  <p>
    <a href="" {{action "openTrackDialog"}}>{{trackName}}</a>
  </p>

</div>

{{#each track.steps as |step index|}}
  {{huayra-step index=index player=player sound=track.sound step=step}}
{{/each}}
