<div class="huayra-track-id huayra-track-verde cursor-pointer" {{action "onEditTrack" track}} >
  {{huayra-sound-switch value=track.enabled}}

  <p class="huayra-track-ix">{{indexNumber}}</p>

  <p class="huayra-track-name">
    <span {{action "onEditTrack" track}}>{{trackName}}</span>
  </p>

</div>

<div class='huayra-track-step-container huayra-track-verde'>
  {{#each track.steps as |step index|}}
    {{huayra-step index=index player=player sound=track.sound step=step track=track onChange='onChange'}}
  {{/each}}

  {{huayra-track-actions track=track onChange='onChange'}}
</div>
