<div class="ui grid huayra-player-ui">
  <div class="eight wide column">
    <div class='huayra-player-handler'>

      {{#if playing}}
        <button {{action "togglePlay"}} id='stop-button' class="ui button"><i class="icon stop"></i> Stop</button>
      {{else}}
        <button {{action "togglePlay"}} id='play-button' class="ui button"><i class="icon play"></i> Play</button>
      {{/if}}

      {{#if recorder.recording}}
        <button class="uk-button uk-active" disabled>{{fa-icon icon="spinner" spin=true}} Grabando ...</button>
      {{else}}
        <button class="uk-button  button-fixed-width-sm" {{action "toggleRecord"}}>{{fa-icon icon="microphone"}} Grabar</button>
      {{/if}}

    </div>
  </div>
  <div class="eight wide column text-right">
    <span class="huayra-player-bpm">
        BPM: {{adjustable-number value=pattern.bpm min=40 max=360 onChange="onChange"}}
    </span>
    {{huayra-stepslimit-picker stepslimit=player.stepsLimit onStepslimitSelected="updateStepsLimit"}}

  </div>
</div>
