<div class='huayra-player-ui'>
<div class='huayra-player-handler'>
  {{#if playing}}
    <button {{action "togglePlay"}} class="btn btn-success">{{fa-icon "stop"}} Stop</button>
  {{else}}
    <button {{action "togglePlay"}} class="btn btn-success">{{fa-icon "play"}} Play</button>
  {{/if}}
  {{#if recorder.recording}}
    <button class="btn btn-warning" {{action "toggleRecord"}}>{{fa-icon "stop"}} Detener Grabación</button>
  {{else}}
    <button class="btn btn-warning" {{action "toggleRecord"}}>{{fa-icon "microphone"}} Grabar</button>
  {{/if}}
</div>

<!-- 
<div class='slider'>
  {{input value=player.bpm type='range' min=40 max=200}}
</div>
-->

<div class="huayra-player-bpm-step">
     <span class="huayra-player-bpm">BPM: {{adjustable-number value=pattern.bpm min=40 max=200 onChange="onChange"}}</span>

      <span class="huayra-player-step">
      Steps:
        <input {{action "updateStepsLimit" 2}} class="btn btn-step-sm btn-sm" type="button" value=2>
       <input {{action "updateStepsLimit" 4}} class="btn btn-step-sm btn-sm" type="button" value=4>
       <input {{action "updateStepsLimit" 8}} class="btn btn-sm btn-step-sm" type="button" value=8>
       <input {{action "updateStepsLimit" 12}} class="btn btn-sm btn-step-sm" type="button" value=12>
       <input {{action "updateStepsLimit" 16}} class="btn btn-sm btn-step-sm" type="button" value=16>

       Actual: {{player.currentStep}}</span>
</div>
</div>
