<div class="ui grid">
  <div class="three wide column">
      <div class="ui vertical fluid tabular menu">
        {{#each categories as |category|}}
          <a href class="item {{if category.selected "active"}}" {{action "selectCategory" category.name}}>
            {{category.name}}
          </a>
        {{/each}}
      </div>
  </div>

  <div class="thirteen wide column">
    <table class="ui table">
      {{#each sounds as |sound|}}
        <tr>
          <td class="clickeable list-group-item {{if sound.selected "active"}}" {{action "select" sound}}>
            {{sound.title}}
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>
