<div class='huayra-player-handler'>
  {{#if playing}}
    <button {{action "togglePlay"}} class="btn btn-success">{{fa-icon "stop"}} Stop</button>
  {{else}}
    <button {{action "togglePlay"}} class="btn btn-success">{{fa-icon "play"}} Play</button>
  {{/if}}
</div>


<div class='slider'>
  {{input value=player.bpm type='range' min=40 max=200}}
</div>

<span>BPM: {{adjustable-number value=player.bpm min=40 max=200}}</span>
<span>Step: {{player.currentStep}}</span>
