<h1 data-test="modal-title">Crear una pista</h1>

<p>Seleccioná alguno de los siguientes sonidos:</p>

{{huayra-sound-selector onSelect="onSelectSound"}}

<button disabled={{emptySelection}} class='btn btn-success' {{action "accept"}}> Agregar </button>
<button disabled={{emptySelection}} class='btn btn-success' {{action "acceptAndClose"}}> Agregar y cerrar</button>
