{{#modal-dialog
    targetAttachment="center"
    close="close"
    translucentOverlay=true}}

    <button class="close" {{action "discardAndClose"}} title="Close the modal" data-test="modal-close" data-ember-action="742">
      <span class="icon-close modal-close-btn">{{fa-icon icon="times"}}</span>
      <span class="hidden">Close modal</span>
    </button>

    <h1 data-test="modal-title" class="huayra-modal-title">Crear una pista</h1>

    <p>Seleccioná alguno de los siguientes sonidos:</p>

    {{huayra-sound-selector onSelect="onSelectSound"}}

    <div class="bottom-bar">
      <button class='uk-button uk-button-large uk-button-danger' {{action "discardAndClose"}}>Cancelar</button>
      <button disabled={{emptySelection}} class='uk-button uk-button-large' {{action "accept"}}> Agregar </button>
      <button disabled={{emptySelection}} class='uk-button uk-button-large uk-button-primary' {{action "acceptAndClose"}}> Agregar y cerrar</button>
    </div>

{{/modal-dialog}}
