{{#modal-dialog
    targetAttachment="center"
    close="close"
    translucentOverlay=true}}

    <button class="close ui button mini" {{action "discardAndClose"}} data-test="modal-close" data-ember-action="742">
      <span><i class="close icon"></i></span>
    </button>

    <h1 data-test="modal-title" class="huayra-modal-title">Crear una pista</h1>

    <p>Seleccioná alguno de los siguientes sonidos:</p>

    {{huayra-sound-selector onSelect="onSelectSound"}}

    <div class="bottom-bar">
      <button class='ui button' {{action "discardAndClose"}}>Cancelar</button>
      <button disabled={{emptySelection}} class='ui button' {{action "accept"}}> Agregar </button>
      <button disabled={{emptySelection}} class='ui button' {{action "acceptAndClose"}}> Agregar y cerrar</button>
    </div>

{{/modal-dialog}}
