{{#modal-dialog
    close="closeConfirmModal"
    targetAttachment="center"
    translucentOverlay=true}}

    <button class="close" {{action "closeEditTrackModal"}} title="Close the modal" data-test="modal-close" data-ember-action="742">
      <span class="icon-close modal-close-btn">X</span>
      <span class="hidden">Close modal</span>
    </button>

<h1 data-test="modal-title" class="huayra-modal-title">Propiedades de la pista</h1>

<p class="huayra-modal-track-title">
  Título: {{modal.model.track.sound}}
</p>

<div class='slider'>
  Volúmen global: {{x-slider min=0 max=1 step=0.05 value=modal.model.track.volume}}
</div>


<div class="color-picker">
  <p>Color de la pista</p>

  <span {{action "setTrackColor" 'verde'}}
        class="huayra-track-color-picker huayra-track-picker-verde">&nbsp;</span>
  <span {{action "setTrackColor" 'amarillo'}}
        class="huayra-track-color-picker huayra-track-picker-amarillo">&nbsp;</span>
  <span {{action "setTrackColor" 'naranja'}}
        class="huayra-track-color-picker huayra-track-picker-naranja">&nbsp;</span>
  <span {{action "setTrackColor" 'rojo'}}
        class="huayra-track-color-picker huayra-track-picker-rojo">&nbsp;</span>
  <span {{action "setTrackColor" 'violeta'}}
        class="huayra-track-color-picker huayra-track-picker-violeta">&nbsp;</span>
  <span {{action "setTrackColor" 'azul'}}
        class="huayra-track-color-picker huayra-track-picker-azul">&nbsp;</span>
</div>


<div class="bottom-bar">
  <button class='btn btn-danger' {{action "removeTrack"}}> Eliminar pista</button>
</div>

{{/modal-dialog}}
