{{#modal-dialog
    close="closeConfirmModal"
    targetAttachment="center"
    translucentOverlay=true}}

<h1 data-test="modal-title">¡Epa!, no guardaste aún</h1>

<p>Parece que hay cambios sin guardar en el proyecto...</p>

<p><strong>¿Que te gustaría hacer?</strong></p>

<div class="vaca-warning"></div>

<div class='center padding'>

  {{#if mustCloseWindowOnDismiss}}
    <button class='btn btn-info' {{action "cancelAndDontCloseFromConfirmModal"}}> No cerrar </button>
    <button class='btn btn-success' {{action "saveAndCloseFromConfirmModal"}}> Guardar y salir </button>
    <button class='btn btn-danger' {{action "cancelAndCloseFromConfirmModal"}}> Descartar los cambios, y cerrar </button>
  {{else}}
    <button class='btn btn-info' {{action "cancelAndDontCloseFromConfirmModal"}}> No cerrar </button>
    <button class='btn btn-success' {{action "saveFromConfirmModal"}}> Guardar ahora </button>
    <button class='btn btn-danger' {{action "cancelFromConfirmModal"}}> Descartar los cambios </button>
  {{/if}}

</div>

{{/modal-dialog}}
