{{huayra-title-editable value=model.title onChange="onChange"}}

<button class='btn btn-warning' {{action "goIndex"}}>{{fa-icon "fa-chevron-left"}} Volver</button>
<button disabled={{savedChanges}} class="btn btn-info" {{action "save"}}>{{fa-icon "fa-save"}} Guardar</button>
<button class="btn btn-info" {{action "saveAs"}}>{{fa-icon "fa-save"}} Guardar Como</button>


{{huayra-player pattern=pattern player=player onChange="onChange"}}
{{huayra-pattern pattern=pattern player=player onChange="onChange" onEditTrack='editTrack'}}

{{huayra-new-track pattern=pattern onNewTrack='newTrack' onChange="onChange"}}

{{outlet}}


{{#if showConfirmModal}}
  {{partial "modal-confirm"}}
{{/if}}


{{#if showEditTrack}}
  {{partial "modal-track"}}
{{/if}}
