{{huayra-title-editable value=model.title onChange="onChange" unsaved=unsavedChanges}}

<div>
  <button class="ui button" {{action "goIndex"}}><i class="angle left icon"></i> Volver</button>
  <button disabled={{savedChanges}} class="ui button" {{action "save"}}><i class="save icon"></i> Guardar</button>
</div>

{{huayra-player recordTitle=model.title pattern=pattern player=player onChange="onChange"}}
{{huayra-pattern pattern=pattern player=player onChange="onChange" onEditTrack="editTrack" onRemoveTrack=(action "removeTrack")}}

{{huayra-new-track pattern=pattern onNewTrack="newTrack" onChange="onChange"}}

{{outlet}}


{{#if showConfirmModal}}
  {{partial "modal-confirm"}}
{{/if}}

{{#if showEditTrack}}
  {{partial "modal-edit-track"}}
{{/if}}
