{{huayra-title-editable value=model.title onChange="onChange" showModal="showModal" removeModal="removeModal"}}

{{#if inBrowser}}
  <button class="uk-button" {{action "goIndex"}}>{{fa-icon icon="fa-chevron-left"}} Volver</button>
  <button disabled={{savedChanges}} class="uk-button" {{action "save"}}>{{fa-icon icon="fa-save"}} Guardar</button>
{{/if}}

{{huayra-player recordTitle=model.title pattern=pattern player=player onChange="onChange"}}
{{huayra-pattern pattern=pattern player=player onChange="onChange" onEditTrack='editTrack'}}

{{huayra-new-track pattern=pattern onNewTrack='newTrack' onChange="onChange"}}

{{outlet}}


{{#if showConfirmModal}}
  {{partial "modal-confirm"}}
{{/if}}

{{#if showEditTrack}}
  {{partial "modal-track"}}
{{/if}}
